.msg input,textarea{
width: 90%;
font-size: 15px;
height: 40px;
border-radius: 10px;
margin-top: 20px;
padding: 10px;
}
.msg textarea{
    height: 160px;
}
.msg button{
    position: fixed;
    right:120px;
    font-size: 16px;
}
@media screen and (max-width: 400px){
    .msg{
        width: 80%;
    }
}