.logo_nav{
    width: 15%;
    margin-left: 20px;
}
.navbar{
    height: 60px;
}
.past_partner_heading{
    width: 85px;
}
.nav_item{
 margin-right: 20px;
 font-size: 13px;
}
.btn_nav{
    width: 100px;
    font-size: 12px;
    padding: 2px 3px;
}
@media screen and (max-width: 1300px) {
    .navbar{
        height: 80px;
    }
    .nav_item{
        font-size: 18px;
    }
    .past_partner_heading{
        width: 115px;
    }
    .btn_nav{
        width: 120px;
        font-size: 16px;
        padding: 2px 3px;
    }
}
@media screen and (max-width:1000px)
{
    .navbar{
        height: 80px;
        display: flex;
        flex-direction: column;
justify-content: center;
    }
    #basic-navbar-nav{
        margin-top: 20%;
    }
}
@media screen and (max-width:770px)
{
    .logo_nav{
        /* position: fixed; */
        left: 20px;
        top: 17px;
        width: 20%;
    }
}
@media screen and (max-width:520px)
{
    .logo_nav{
        /* position: fixed; */
        left: 20px;
        top: 17px;
        width: 30%;
    }
}